#particle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background-color: transparent;
    overflow: hidden;
  }
  
  .particle {
    position: absolute;
    border-radius: 50%;
    background: hsl(var(--primary) / 0.5);
    animation: float 20s infinite linear;
  }
  
  @keyframes float {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(calc(100vw - 100%)) translateY(calc(100vh - 100%));
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }